body {
	margin: 0;
	background-color: #fff;
}

#index {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	.content {
		position: relative;
		width: 100%;
		height: auto;
	}
}
