body {
	margin: 0;
	background-color: #80c4d8;
}

#index {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	.content {
		position: relative;
		width: 100%;
		height: auto;
	}
}

#lesca-oc {
	background-color: #80c4d8 !important;
	background-image: url('./img/oc.png') !important;
	background-size: 19vw !important;
}
